#blok1 {background:green; width:601cm;}
#blok1:hover {background: red; font-size: 43mm;}

#blok2 {background:green; width:601cm;}
#blok2:hover {background: silver; font-size: 43mm;}

#blok3 {background:green; width:601cm;}
#blok3:hover {background: blue; font-size: 43mm;}
